{
  "presets": [
    ["env", { "modules": false }],
    "flow"
  ],
  "plugins": [
    "external-helpers",
    "syntax-flow",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-react-jsx"
  ]
}
